<template>
    <div class="container mt-10">
        <div class="flex items-center h-screen w-full">
          <div class="w-full bg-white rounded shadow-lg p-8 m-4">
            <h1 class="block w-full text-center text-grey-darkest mb-6">Create Question</h1>
            <form class="mb-4" action="/" method="post">
              <div class="flex flex-col mb-4">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="first_name">Question</label>
                <textarea name="name" rows="8" cols="80" class="border"></textarea>
              </div>
              <div class="flex flex-col mb-4">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="last_name">Option 1</label>
                <input class="border py-2 px-3 text-grey-darkest" type="text" name="last_name" id="last_name">
              </div>
              <div class="flex flex-col mb-4">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="email">Option 2</label>
                <input class="border py-2 px-3 text-grey-darkest" type="email" name="email" id="email">
              </div>
              <div class="flex flex-col mb-6">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="password">Option 3</label>
                <input class="border py-2 px-3 text-grey-darkest" type="password" name="password" id="password">
              </div>
              <div class="flex flex-col mb-6">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="password">Option 4</label>
                <input class="border py-2 px-3 text-grey-darkest" type="password" name="password" id="password">
              </div>
              <button type="button" name="button">Save Question</button>
            </form>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
